*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/ine5612-agenda/ine5612-agenda-ejb/target/
/ine5612-agenda/ine5612-agenda-web/target/
/ine5612-agenda/ine5612-agenda-ear/target/